@use 'normalize';
@use "variables";


html {
  /*set default font*/
  font-size: 16px;
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: 400;
  color: variables.$font-color-primary;
  scroll-behavior: smooth;
}

#app {
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

.main {
  margin-top: calc(65px + 2rem);
}

.container {
  max-width: variables.$container-width;
  padding: 0 variables.$container-padding-x;
  margin: 0 auto;
}

.title {
  font-weight: 700;
  font-size: 2rem;
}